html{
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#card{
    /*width: 600px;
    height: 350pxpx;*/
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    overflow: hidden;
    /*margin: 100px 200px 100px 350px;*/
}
#top-section{
    width: 100%;
    height: 40%;
    padding: 20px;
}
#top-section h2{
    margin-bottom: 15px;
}
#top-section p{
    color: gray;
}
#bottom-section{
    display: flex;
    width: 100%;
    height: 60%;
}
#left-bottom-section{
    background-color: darkturquoise;
    /*width: 50%;*/
    width: 100%;
    height: 100%;
    padding: 20px;
    display: inline-block;
}
#left-bottom-section h4{
    margin-bottom: 30px;
}
#right-bottom-section{
    display: inline-block;
    background-color: aqua;
    /*width: 50%;*/
    width: 100%;
    height: 100%;
    padding: 20px;
    vertical-align: top;
}
h2, h4{
    margin: 0;
}
#top-section h2{
    color: darkturquoise;
}
#top-section h4{
    color: yellow;
}
#bottom-section{
    color: white;
}
#price, #price-frequency{
    display: inline-block;

}
#price{
    font-weight: 700;
}
#price-frequency{
    position: relative;
    top: -2;
    opacity: 0.7;
    margin-left: 5px;
}
button{
    color: white;
    background-color: yellow;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;
}
button:hover{
    cursor: pointer;
    background-color: rgba(238, 160, 3, 0.782);
    transform: scale(1.02);
}
ul{
    padding: 0;
    list-style: none;
    opacity: 0.9;
}
li{
    padding-bottom: 3px;
}

@media (max-width: 650px) {
    #left-bottom-section, #right-bottom-section, #card{
        width: 100%;
        height: auto;
    }
    #bottom-section{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 576px) {
    #card{
        width: 550px;
        height: 400px;
    }
}
}
